<ion-card >
  <ion-card-header>
    <ion-img [src]="Listusuario.foto"></ion-img>
    <ion-card-title>
      <p>ID: {{Listusuario.ID}}<br><br>Nombre: {{Listusuario.Nombre}}<br><br>Apellido: {{Listusuario.Apellido}}<br><br>Actividad: {{Listusuario.Actividad}}
        <br><br>Hora entrada: {{Listusuario.Hora_entrada}}<br><br>Hora salida: {{Listusuario.Hora_salida}}<br><br>Estado: {{Listusuario.Estado}}</p>
      <ion-button>cambiar a verde</ion-button> <ion-button>cambiar a rojo</ion-button>
    </ion-card-title>
  </ion-card-header>
</ion-card>
