
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <img src="../../assets/imagen1.png" class="imagen-pequena">
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-input
            label="Nombre de Usuario"
            labelPlacement="stacked"
            [clearOnEdit]="true"
            placeholder="Ingrese el nombre de usuario"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            type="password"
            placeholder="Ingrese su contraseña"
          >
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button routerLink="/lista-participante">Iniciar sesión</ion-button>
    </ion-card>
  </div>
</ion-content>
